.character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;

  background-color: #ff5722; /* Cor de fundo de destaque */

  .character-image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      width: 150px;
      height: 150px;
    }
  }

  .character-info {
    h3 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #fff; /* Cor do texto de destaque */
    }

    .character-informacao {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .character-human {
        font-weight: bold;
      }

      .character-gender {
        font-style: italic;
      }

      @media (max-width: 768px) {
        .character-human {
          font-weight: normal;
        }
      }
    }

    .character-aparencia {
      font-weight: bold;
      margin-top: 20px;
      font-size: 18px;
      color: #fff; /* Cor do texto de destaque */
    }

    .character-informacao {
      list-style: none;
      padding: 0;

      li {
        font-size: 16px;
        margin: 5px 0;
      }
    }
  }
}
